<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.bjs.mappers.cinemaMapper">

	<insert id="cinemaInsert" parameterType="CinemaVO">
		insert into black(
		black_id, black_title, black_date, black_content, black_email,
		person_id
		)values(
		black_id_seq.nextval, #{black_title}, SYSDATE, #{black_content}
		, #{black_email}, #{person_id}
		)
	</insert>
	
</mapper>















