<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.bjs.mappers.cinemaMapper">

<!-- 	<insert id="cinemaInsert" parameterType="CinemaVO">
		insert into cinema(
		cinema_id, cinema_region, cinema_kind, cinema_outlook, cinema_seat, cinema_name, cinema_address
		)values(
		cinema_id_seq.nextval, #{cinema_region}, #{cinema_kind}, #{cinema_outlook}, #{cinema_seat}, #{cinema_name}, #{cinema_address}
		)
	</insert> -->
	
	<select id="cinemaList" resultType="CinemaVO">
		select * from cinema 
		order by cinema_id DESC
	</select>
	
<!-- 	<select id="cinemaTotal" resultType="map">
		<![CDATA[
		select CINEMA_REGION, count(*) from cinema
		group by CINEMA_REGION
		]]>
	</select> -->
	
	<select id="cinemaCount" resultType="HashMap">
		select * from cinematotal
	</select>

	
	<select id="cinemaRegion" resultType="CinemaVO">
		select cinema_name from cinema 
		where cinema_region = #{cinema_region}
	</select>
	
</mapper>















