<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjs.mappers.memberMapper">
<select id="loginCheck" resultType="String"> 
SELECT * FROM member WHERE member_identify=#{member_identify} AND member_pwd = #{member_pwd} 
</select>

<select id="viewMember" resultType="MemberVO"> 
SELECT * FROM member WHERE member_identify=#{member_identify} AND member_pwd = #{member_pwd} 
</select>

<!-- ******* 로그인 처리 ******* -->
<select id="login" resultType="MemberVO">
	select * from member
	where member_identify=#{member_identify} and member_pwd=#{member_pwd}
</select>

<!-- ****** 회원 가입 ****** -->
<insert id="create" parameterType="MemberVO">
	insert into member 
		(member_id, member_identify, member_pwd, member_name , member_email, member_ssn, member_phone, member_gender, member_mileage, member_kind)
		values(member_id_seq.nextval, #{member_identify},  #{member_pwd}, #{member_name}, #{member_email},  #{member_ssn}, #{member_phone}, #{member_gender} ,0, 'N')	
</insert>
</mapper>